body {
  margin: 0%;
  padding: 0%;
  font-family: "Public Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  margin-top: 5%;
  margin-bottom: 2%;
  .container {
    p {
      float: right;
      opacity: 0.8;
    }
  }
}

.banner {
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  padding-top: 1%;
  .container {
    h2 {
      font-size: 34px;
      width: 85%;
      margin: 7% auto;
      color: #2d314d;
      opacity: 0.9;
      font-weight: 500;
    }
    p {
      color: hsl(233, 8%, 62%);
      margin: auto;
      font-size: 17px;
      text-align: center;
    }
    button {
      color: white;
      background-image: linear-gradient(
        to right,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
      );
      border: none;
      border-radius: 25px;
      padding: 3%;
      font-weight: bold;
      font-size: 16px;
      width: 50%;
      margin: 10% 0%;
    }
  }
}

.mockup {
  display: none;
}

.marketing {
  background-color: hsl(220, 16%, 96%);
  .container {
    text-align: center;
    h3 {
      font-weight: 500;
      width: 70%;
      font-size: 30px;
      margin: 0% auto;
      padding-top: 8%;
      margin-bottom: 5%;
      opacity: 0.8;
    }
    p {
      color: hsl(233, 8%, 62%);
      padding-bottom: 15%;
      margin-bottom: 0%;
    }
  }
}

.each-mkt-point {
  h5 {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
    margin: 4% auto;
  }
}

.articles {
  background-color: hsl(0, 0%, 98%);
  text-align: center;
  padding-bottom: 15%;
  .container {
    h3 {
      font-size: 28px;
      margin: 0%;
      padding: 10% 0% 7% 0%;
      color: #2d314d;
      opacity: 0.9;
      font-weight: 500;
    }
  }
}

.each-article {
  background-color: white;
  padding-bottom: 1%;
  margin-bottom: 7%;
  border-radius: 5px;
  img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
  h6 {
    color: hsl(233, 8%, 62%);
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    width: 90%;
    margin: 5% auto;
  }
  h4 {
    width: 90%;
    margin: 2% auto;
    color: #2d314d;
    opacity: 0.7;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
  }
  p {
    font-size: 16px;
    width: 90%;
    margin: 5% auto;
    color: #9698a6;
    text-align: left;
    opacity: 0.7;
  }
}

footer {
  background-color: hsl(233, 26%, 24%);
  text-align: center;
  padding-bottom: 5%;
  h5 {
    color: white;
    opacity: 0.9;
    font-weight: bold;
    font-size: 18px;
    margin: 0%;
    padding-top: 10%;
  }
  button {
    color: white;
    background-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(192, 70%, 51%)
    );
    border: none;
    border-radius: 25px;
    padding: 3%;
    font-weight: bold;
    font-size: 16px;
    width: 50%;
    margin-top: 10%;
  }
  h6 {
    padding-top: 3%;
    margin-bottom: 0%;
    color: white;
    opacity: 0.9;
    font-size: 12px;
  }
}

.social-links {
  width: 80%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
}

.page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  a {
    color: white;
    opacity: 0.9;
    text-decoration: none;
    padding-top: 5%;
  }
}

@media only screen and (min-width: 750px) {
  .banner {
    .container {
      h2 {
        margin: 5% auto;
      }
      button {
        margin: 5% auto;
        font-size: 18px;
      }
    }
  }
  .marketing {
    .container {
      h3 {
        padding-top: 5%;
        opacity: 0.9;
      }
      p {
        font-size: 18px;
        padding-bottom: 5%;
        color: black;
        opacity: 0.7;
      }
    }
  }
  .each-mkt-point {
    h5 {
      opacity: 0.8;
    }
    h6 {
      font-size: 16px;
      padding-bottom: 8%;
      color: #9698a6;
      width: 80%;
      margin: 0 auto;
    }
  }
  .articles {
    .container {
      h3 {
        font-size: 32px;
        padding-top: 7%;
      }
    }
  }
  .each-article {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 7%;
  }
  footer {
    padding-bottom: 2%;
    h5 {
      padding-top: 5%;
      font-size: 28px;
    }
    button {
      margin-top: 7%;
    }
  }
  .social-links {
    margin-bottom: 3%;
  }
  .page-links {
    a {
      padding-top: 3%;
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 1000px) {
}
